* {
    margin: 0;
}

#main-section{
    /*border: 3px solid red;*/
    font-size: 15px;
    font-family: "Gelion Regular", sans-serif;
    font-weight: bolder;
    background-color: black;
    background-size:  cover;
    height: 50%;
    color: white;
}

.main-link{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1em 4em;
    height: 50px;
    /*border: 3px solid red;*/
    background: white;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
}

#main-section button{
    margin-top: -10px;
    border-color: black;
    border-radius: 20px;
    height:60px;
    cursor: pointer;
    width: 150px;
    color: white;
}

#logo{
    font-size: 30px;
    margin-top: -10px;
}

.main-link button:hover{
    transition: .8s ease-in;
    padding: 5px 25px;
    background-color: rgba(49, 112, 146, 0.94);
}

.main-content{
    padding: 1em 3em ;
    /*border: 3px solid greenyellow;*/
    font-size: 20px;
    margin: 10em 0;
    text-transform: capitalize;
}


.main-content h1{
    line-height: 2em;
    /*border: 3px solid red;*/
    letter-spacing: 3px;
}

.main-content p{
    font-family: italic, serif;
    font-style: italic;
    line-height: 40px;
    font-weight: lighter;
    font-size: 18px;
}

.main-content span{
    color: #7638f1;
}

.btn{
    background-color: #7078d8;
    color: white;
    text-decoration: none;
}

#second-section{
    font-size: 15px;
    font-family: "Gelion Regular", sans-serif;
    font-weight: bolder;
    height: 50%;
    /*border: 3px solid red;*/
    color: black;
    padding: 1rem 4em;
    margin-top: -200px;
}

#second-section h1{
    /*border: 3px solid red;*/
    font-style: oblique;
    font-weight: bolder;
    font-size: 40px;
    color: #57b1dc;
}

#second-section p{
    /*border: 3px solid red;*/
    font-size: 18px;
    color: #928b8b;
    letter-spacing: 4px;
}

#second-section .news-title{
    font-size: 50px;
    color: #7638f1;
}

#second-section span{
    color: #7638f1;
}

#second-section .learn-more{
    height: 80px;
    margin: 40px 0;
    border-radius: 10px;
    background-color:white;
    border-color: purple;
}

#second-section .learn-more:hover{
    transition: .8s ease-in;
    background-color: #063f3f;
    color: #faf2e4;
}

/*#third-section{*/
/*    border: 3px solid red;*/
/*    padding: 1rem 3em;*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*.our-aim h1{*/
/*    font-size: 25px;*/
/*    margin: 40px 0;*/
/*    font-weight: bolder;*/
/*    line-height: 1px;*/
/*}*/

/*.our-aim{*/
/*    border: 3px solid red;*/
/*}*/

/*.our-aim p{*/
/*    position: absolute;*/
/*}*/