* {
    margin: 0;
}

#main-section{
    font-size: 15px;
    font-family: "Gelion Regular", sans-serif;
    font-weight: bolder;
    background-color: black;
    background-size:  cover;
    height: 50%;
    color: white;
}

.main-link{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1em 4em;
    height: 35px;
    background: white;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
}

.account-link{
    cursor: pointer;
    width: 100px;
    transition: background-color, color, letter-spacing;
    transition-duration: 0.8s, 8s, 0.8s;
    transition-timing-function: ease-out, ease-in, ease-out;
}

#logo{
    font-size: 30px;
    margin-top: -10px;
}

.account-link:hover, .account-link:focus{
    padding-top: 10px;
    color: white;
    font-weight: normal;
    background-color: #afb3bc;
    letter-spacing: 4px;
    border-radius: 7px;
    width: 100px;
    height: 35px;
    margin-bottom: 25px;
}

.link:hover{
    padding-top: 10px;
    color: white;
    font-weight: normal;
    transition: .8s linear;
    background-color: #afb3bc;
    border-radius: 12px;
    width: 100px;
    height: 35px;
    margin-bottom: 25px;
}

.main-content{
    padding: 1em 3em ;
    font-size: 20px;
    margin: 10em 0;
    text-transform: capitalize;
}

.main-content h1{
    line-height: 2em;
    letter-spacing: 3px;
}

.main-content p{
    font-family: italic, serif;
    font-style: italic;
    line-height: 40px;
    font-weight: lighter;
    font-size: 18px;
}

.main-content span{
    color: #7638f1;
}

.btn{
    background-color: #7078d8;
    color: white;
    text-decoration: none;
}

#second-section{
    font-size: 15px;
    font-family: "Gelion Regular", sans-serif;
    font-weight: bolder;
    height: 50%;
    color: black;
    padding: 1rem 4em;
    margin-top: -200px;
}

#second-section h1{
    font-style: oblique;
    font-weight: bolder;
    font-size: 40px;
    color: #57b1dc;
}

#second-section p{
    font-size: 18px;
    color: #928b8b;
    letter-spacing: 4px;
}

#second-section .news-title{
    font-size: 50px;
    color: #7638f1;
}

#second-section span{
    color: #7638f1;
}

#second-section .learn-more{
    height: 80px;
    margin: 40px 0;
    border-radius: 10px;
    background-color:white;
    border-color: purple;
}

#second-section .learn-more:hover{
    transition-duration: .8s;
    transition-timing-function: linear;
    background-color: #063f3f;
    color: #faf2e4;
}